In [1]:
%pip install pandas
%pip install xlrd
%pip install openpyxl

Requirement already satisfied: pandas in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: xlrd in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [77]:

# Carregamos o Dataset já tratado previamente no ficheiro treating_dataset.ipynb
dataset = pd.read_excel("DATASET/DATASET_TREATED.xls","Data")

In [128]:
print(dataset.head(5))

      Série  Número  Item    Data do Movimento  Operação  Produto  Tamanho  \
4829  VENDA  771944     1  2018-01-02 00:00:00       104   340822      400
4830  VENDA  771944     2  2018-01-02 00:00:00       104   352722      400
4831  VENDA  771945     1  2018-01-02 00:00:00       104   130090      130
4832  VENDA  771945     2  2018-01-02 00:00:00       104   130090      130
4833  VENDA  771949     1  2018-01-02 00:00:00       102   351559      410

      Quantidade      Preço Nome_Tamanho  ... Unidade_Produto  \
4829           1  23.888889           40  ...              PR
4830           1  44.259259           40  ...              PR
4831           1  18.518519            U  ...              UN
4832           1  18.518519            U  ...              UN
4833           1  46.111111           41  ...              PR

     Referência_Produto DataUltimaAtualização_Produto NomeMarca_Produto  \
4829         CT00010001           2022-05-14 00:00:00          ALL STAR
4830         CT04480002           2018-08-23 00:00:00          ALL STAR
4831            100,00            2012-02-01 00:00:00                CP
4832            100,00            2012-02-01 00:00:00                CP
4833             FLYTER           2018-09-13 00:00:00         OLYMPIKUS

     Complemento_Produto Nome_Class_11_Produto Nome_Class_12_Produto  \
4829                 BCO              CALÇADOS             ESPORTIVO
4830                 PTO              CALÇADOS             ESPORTIVO
4831                  ..            ACESSÓRIOS                 GERAL
4832                  ..            ACESSÓRIOS                 GERAL
4833             PTO/CZA              CALÇADOS             ESPORTIVO

     Nome_Class_13_Produto Nome_Class_14_Produto Nome_Class_15_Produto
4829                 GERAL                 ANUAL          TENIS CASUAL
4830                 GERAL                 ANUAL          TENIS CASUAL
4831                 GERAL                 ANUAL                 DIV *
4832                 GERAL                 ANUAL                 DIV *
4833             MASCULINO                 ANUAL          TENIS RUNING

[5 rows x 21 columns]

In [135]:
print(dataset.columns)

Index(['Série', 'Número', 'Item', 'Data do Movimento', 'Operação', 'Produto',
       'Tamanho', 'Quantidade', 'Preço', 'Nome_Tamanho', 'Nome_Produto',
       'Unidade_Produto', 'Referência_Produto',
       'DataUltimaAtualização_Produto', 'NomeMarca_Produto',
       'Complemento_Produto', 'Nome_Class_11_Produto', 'Nome_Class_12_Produto',
       'Nome_Class_13_Produto', 'Nome_Class_14_Produto',
       'Nome_Class_15_Produto'],
      dtype='object')

In [127]:

# Removemos as colunas que não pretendemos utilizar
dataset = dataset.drop(columns=["Unnamed: 0", "Classificação11_Produto", "Classificação12_Produto", "Classificação13_Produto", "Classificação14_Produto", "Classificação15_Produto"])
dataset = dataset.rename(columns={"Valor original":"Preço"})

In [21]:

print(dataset.columns)

Index(['Série', 'Número', 'Item', 'Data do Movimento', 'Operação', 'Produto',
       'Tamanho', 'Quantidade', 'Valor original', 'Nome_Tamanho',
       'Nome_Produto', 'Unidade_Produto', 'Referência_Produto',
       'DataUltimaAtualização_Produto', 'NomeMarca_Produto',
       'Complemento_Produto', 'Nome_Class_11_Produto', 'Nome_Class_12_Produto',
       'Nome_Class_13_Produto', 'Nome_Class_14_Produto',
       'Nome_Class_15_Produto'],
      dtype='object')

In [79]:

# Apenas as transações do tipo venda e compra é que são relevantes, sendo estas representadas pelos seguintes valores:
# Venda = 03, 04, 05
# Compra = NE
print(dataset['Série'].value_counts().sort_values(ascending=False).head(10))

03    21720
04    15107
NE     9415
NS     3564
05     3367
AJ      169
U         3
UE        1
Name: Série, dtype: int64

In [120]:

# Apenas as transações do tipo venda e compra é que são relevantes, sendo estas representadas pelos seguintes valores:
# Venda = 03, 04, 05
# Compra = NE
dataset['Série'].replace(['03','04', '05', 'NE'], ["VENDA", "VENDA", "VENDA", "COMPRA"], inplace=True)
dataset = dataset[(dataset['Série'] == "VENDA") |  (dataset['Série'] == "COMPRA")]

In [121]:

print(dataset['Série'].value_counts().sort_values(ascending=False).head(10))

VENDA     40194
COMPRA     9415
Name: Série, dtype: int64

In [159]:

# Separamos as vendas das compras
dataset_compras = dataset[(dataset['Série'] == "COMPRA")].copy()
dataset_vendas = dataset[(dataset['Série'] == "VENDA")].copy()

In [160]:
print(dataset_compras['Série'].value_counts().sort_values(ascending=False).head(10))

COMPRA    9415
Name: Série, dtype: int64

In [191]:
print(dataset_vendas['Série'].value_counts().sort_values(ascending=False).head(10))

VENDA    40194
Name: Série, dtype: int64

In [205]:
print(dataset_compras.columns)

Index(['Série', 'Número', 'Item', 'Data do Movimento', 'Operação', 'Produto',
       'Tamanho', 'Quantidade', 'Preço', 'Nome_Tamanho', 'Nome_Produto',
       'Unidade_Produto', 'Referência_Produto',
       'DataUltimaAtualização_Produto', 'NomeMarca_Produto',
       'Complemento_Produto', 'Nome_Class_11_Produto', 'Nome_Class_12_Produto',
       'Nome_Class_13_Produto', 'Nome_Class_14_Produto',
       'Nome_Class_15_Produto'],
      dtype='object')

In [211]:

# Inferimos o custo do produto vendido em cada venda com base na compra ao fornecedor mais recente perante a respetiva data
def getCustoFromData(row):
   rowPrevCustos = dataset_compras[(dataset_compras['Produto'] == row['Produto']) & (dataset_compras['Data do Movimento'] <= row['Data do Movimento'])].sort_values(by='Data do Movimento', ascending=False)['Preço']
   if rowPrevCustos.empty:
       return -1
   return rowPrevCustos.iloc[0]
    
dataset_vendas['Custo'] = dataset_vendas.apply(lambda row: getCustoFromData(row), axis=1)

In [212]:

# Verificamos a quantidade de vendas cujo custo não foi inferido
print(dataset_vendas['Custo'].value_counts().sort_values(ascending=False).head(10))

-1.000000     12138
 1.648148       753
 36.851852      639
 31.296296      548
 23.888889      518
 9.240741       463
 46.111111      456
 24.485185      411
 16.400000      408
 12.914815      403
Name: Custo, dtype: int64

In [213]:
print(dataset_vendas.head(10))

      Série  Número  Item    Data do Movimento  Operação  Produto  Tamanho  \
4829  VENDA  771944     1  2018-01-02 00:00:00       104   340822      400
4830  VENDA  771944     2  2018-01-02 00:00:00       104   352722      400
4831  VENDA  771945     1  2018-01-02 00:00:00       104   130090      130
4832  VENDA  771945     2  2018-01-02 00:00:00       104   130090      130
4833  VENDA  771949     1  2018-01-02 00:00:00       102   351559      410
4834  VENDA  771954     1  2018-01-02 00:00:00       105   344441      134
4835  VENDA  771970     1  2018-01-02 00:00:00       104   327673      134
4836  VENDA  771970     2  2018-01-02 00:00:00       104   329892      133
4837  VENDA  771971     1  2018-01-02 00:00:00       104   351537      350
4838  VENDA  771972     1  2018-01-02 00:00:00       101   107743      130

      Quantidade      Preço Nome_Tamanho  ... Referência_Produto  \
4829           1  23.888889           40  ...         CT00010001
4830           1  44.259259           40  ...         CT04480002
4831           1  18.518519            U  ...            100,00
4832           1  18.518519            U  ...            100,00
4833           1  46.111111           41  ...             FLYTER
4834           1  33.148148           GG  ...         848865/100
4835           1  12.018519           GG  ...             AJ5882
4836           1  12.944444            G  ...         719759/435
4837           1  35.000000           35  ...          DELICATE3
4838           1  11.092593            U  ...              18010

     DataUltimaAtualização_Produto NomeMarca_Produto Complemento_Produto  \
4829           2022-05-14 00:00:00          ALL STAR                 BCO
4830           2018-08-23 00:00:00          ALL STAR                 PTO
4831           2012-02-01 00:00:00                CP                  ..
4832           2012-02-01 00:00:00                CP                  ..
4833           2018-09-13 00:00:00         OLYMPIKUS             PTO/CZA
4834           2017-08-11 00:00:00              NIKE           INTER BCO
4835           2020-03-18 00:00:00            ADIDAS                 ROY
4836           2017-12-28 00:00:00              NIKE                 ROY
4837           2018-11-12 00:00:00         OLYMPIKUS           CHU/CORAL
4838           2021-12-18 00:00:00            SPEEDO                AZUL

     Nome_Class_11_Produto Nome_Class_12_Produto Nome_Class_13_Produto  \
4829              CALÇADOS             ESPORTIVO                 GERAL
4830              CALÇADOS             ESPORTIVO                 GERAL
4831            ACESSÓRIOS                 GERAL                 GERAL
4832            ACESSÓRIOS                 GERAL                 GERAL
4833              CALÇADOS             ESPORTIVO             MASCULINO
4834            CONFECÇÕES             ESPORTIVO             MASCULINO
4835            CONFECÇÕES             ESPORTIVO             MASCULINO
4836            CONFECÇÕES             ESPORTIVO              FEMININO
4837              CALÇADOS             ESPORTIVO              FEMININO
4838            ACESSÓRIOS             ESPORTIVO                 GERAL

     Nome_Class_14_Produto Nome_Class_15_Produto      Custo
4829                 ANUAL          TENIS CASUAL  23.888889
4830                 ANUAL          TENIS CASUAL  44.259259
4831                 ANUAL                 DIV *  -1.000000
4832                 ANUAL                 DIV *  -1.000000
4833                 ANUAL          TENIS RUNING  42.407407
4834                 ANUAL         CALCAO CALCAO  33.148148
4835                 ANUAL         CALCAO CALCAO  12.018519
4836                 ANUAL         CALCAO CALCAO  -1.000000
4837                 ANUAL          TENIS RUNING  31.296296
4838                 ANUAL                OCULOS   3.685185

[10 rows x 22 columns]