
# Pré-Tratamento: Tratamento de Dados e Preparação do Dataset

## Objetivo
  A apartir de um conjunto de dados não tratados referente às receitas de uma loja de desporto, efetuar as associações necessárias, eliminando toda a informação considerada desnecessária para o âmbito do nosso projeto, gerando um dataset final a ser, posteriormente, importado no pré-processamento de dados.

In [49]:
%pip install pandas
%pip install xlrd
%pip install openpyxl
%pip install unidecode

Requirement already satisfied: pandas in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: xlrd in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\silve\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     -------------------------------------- 235.9/235.9 kB 7.3 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [39]:

# Carregamos as informações de todos os produtos, separados em 7 ficheiros, juntando os mesmos num só data frame.
dataset_prod_1 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_1.xls","Produtos")
dataset_prod_2 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_2.xls","Query")
dataset_prod_3 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_3.xls","Query")
dataset_prod_4 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_4.xls","Query")
dataset_prod_5 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_5.xls","Query")
dataset_prod_6 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_6.xls","Query")
dataset_prod_7 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_7.xls","Query")
dataset_prod_merged = pd.concat([dataset_prod_1,dataset_prod_2,dataset_prod_3,dataset_prod_4,dataset_prod_5,dataset_prod_6,dataset_prod_7])

In [40]:

# Verificamos o conjunto total de produtos.
print(dataset_prod_merged.head(5))

   Código                           Nome                      Descrição  \
0       1              TESTE HOMOLOGACAO              TESTE HOMOLOGACAO
1       2      PENALTY 353026-645 TACTEL      PENALTY 353026-645 TACTEL
2       3      PENALTY 353028-650 TACTEL      PENALTY 353028-650 TACTEL
3       4      PENALTY 353028-625 TACTEL      PENALTY 353028-625 TACTEL
4       5  PENALTY 353025-652 MICROFIBRA  PENALTY 353025-652 MICROFIBRA

  Unidade  Fornecedor  Marca  Estoque  Situação Tributária  IPI de Entrada  \
0      UN         NaN    0.0      NaN                  0.0             0.0
1      UN         NaN    0.0      NaN                  NaN             0.0
2      UN         NaN    0.0      NaN                  NaN             0.0
3      UN         NaN    0.0      NaN                  NaN             0.0
4      UN         NaN    0.0      NaN                  NaN             0.0

   IPI de Saída  ...  Classificação13  Classificação14  Classificação15  \
0           0.0  ...                3                0              230
1           0.0  ...                3                2                1
2           0.0  ...                3                2                1
3           0.0  ...                3                2                1
4           0.0  ...                3                2                1

   Marcação       CEST  EAN  NCM  Código do Benefício  \
0         0  1234567.0  NaN  NaN                  NaN
1         0        NaN  NaN  NaN                  NaN
2         0        NaN  NaN  NaN                  NaN
3         0        NaN  NaN  NaN                  NaN
4         0        NaN  NaN  NaN                  NaN

   Descrição para Internet  Habilitado para Internet
0                      NaN                       NaN
1                      NaN                       NaN
2                      NaN                       NaN
3                      NaN                       NaN
4                      NaN                       NaN

[5 rows x 51 columns]

In [41]:

# Verificamos as colunas dos produtos, mantendo as colunas necessárias para o projeto, 
# sendo estas todas as que representam características realmente utilizadas pela empresa e que poderão ser utilizadas tanto para o cálculo de receitas como para a associação de produtos
dataset_prod_merged = dataset_prod_merged[["Código","Nome","Unidade","Referência","Data da última atualização","Nome da marca", "Complemento", "Classificação11","Classificação12","Classificação13","Classificação14","Classificação15"]]

# Verificamos que as colunas foram devidamente removidas
print(dataset_prod_merged.columns)

Index(['Código', 'Nome', 'Unidade', 'Referência', 'Data da última atualização',
       'Nome da marca', 'Complemento', 'Classificação11', 'Classificação12',
       'Classificação13', 'Classificação14', 'Classificação15'],
      dtype='object')

In [42]:

# Carregamos as informações referente às classificações dos produtos
ds_cl_prod = pd.read_excel("DATASET/Produtos/Produtos/Classificacoes_dos_produtos.xlsx",nrows=900)
ds_cl_prod = ds_cl_prod[["Classificação","Código","Nome"]]

# Existem 5 tipos de classificações de produtos e para cada uma destas existe um conjunto de valores possíveis, estando tudo misturado no excel carregado acima
# Assim, dividimos o data frame carregado em 5 partes, uma para cada classificação, representando o conjunto de valores possível, facilitando a junção dessa informação com as características dos produtos
# Além disso, alteramos o nome das colunas, evidenciando aquilo que realmente representam e distinguindo de outras colunas com nomes iguais ou semelhantes possivelmente existentes 
# após a junção que será efetuada no próximo passo 
ds_cl_prod_11 = ds_cl_prod.loc[ds_cl_prod['Classificação'] == 11].rename(columns={"Código":"Código_Class_11","Nome":"Nome_Class_11"})
ds_cl_prod_12 = ds_cl_prod.loc[ds_cl_prod['Classificação'] == 12].rename(columns={"Código":"Código_Class_12","Nome":"Nome_Class_12"})
ds_cl_prod_13 = ds_cl_prod.loc[ds_cl_prod['Classificação'] == 13].rename(columns={"Código":"Código_Class_13","Nome":"Nome_Class_13"})
ds_cl_prod_14 = ds_cl_prod.loc[ds_cl_prod['Classificação'] == 14].rename(columns={"Código":"Código_Class_14","Nome":"Nome_Class_14"})
ds_cl_prod_15 = ds_cl_prod.loc[ds_cl_prod['Classificação'] == 15].rename(columns={"Código":"Código_Class_15","Nome":"Nome_Class_15"})

# Juntamos a informação mais detalhada de cada classificação consoante o código presente em cada produto para as 5 colunas de classificação que previamente apresentavam apenas o identificador.
dataset_prod_merged = pd.merge(dataset_prod_merged,ds_cl_prod_11[['Código_Class_11','Nome_Class_11']], left_on='Classificação11', right_on='Código_Class_11', how='left').drop(columns=["Código_Class_11"])
dataset_prod_merged = pd.merge(dataset_prod_merged,ds_cl_prod_12[['Código_Class_12','Nome_Class_12']], left_on='Classificação12', right_on='Código_Class_12', how='left').drop(columns=["Código_Class_12"])
dataset_prod_merged = pd.merge(dataset_prod_merged,ds_cl_prod_13[['Código_Class_13','Nome_Class_13']], left_on='Classificação13', right_on='Código_Class_13', how='left').drop(columns=["Código_Class_13"])
dataset_prod_merged = pd.merge(dataset_prod_merged,ds_cl_prod_14[['Código_Class_14','Nome_Class_14']], left_on='Classificação14', right_on='Código_Class_14', how='left').drop(columns=["Código_Class_14"])
dataset_prod_merged = pd.merge(dataset_prod_merged,ds_cl_prod_15[['Código_Class_15','Nome_Class_15']], left_on='Classificação15', right_on='Código_Class_15', how='left').drop(columns=["Código_Class_15"])

# Verificamos que a junção foi realizada com sucesso
print(dataset_prod_merged.head(5))

   Código                           Nome Unidade Referência  \
0       1              TESTE HOMOLOGACAO      UN        NaN
1       2      PENALTY 353026-645 TACTEL      UN        NaN
2       3      PENALTY 353028-650 TACTEL      UN        NaN
3       4      PENALTY 353028-625 TACTEL      UN        NaN
4       5  PENALTY 353025-652 MICROFIBRA      UN        NaN

  Data da última atualização Nome da marca Complemento  Classificação11  \
0        2016-06-27 00:00:00         TESTE         NaN                0
1        2012-06-15 00:00:00       PENALTY         NaN                3
2                        NaT       PENALTY         NaN                3
3                        NaT       PENALTY         NaN                3
4                        NaT       PENALTY         NaN                3

   Classificação12  Classificação13  Classificação14  Classificação15  \
0                3                3                0              230
1                2                3                2                1
2                3                3                2                1
3                2                3                2                1
4                3                3                2                1

  Nome_Class_11 Nome_Class_12 Nome_Class_13 Nome_Class_14 Nome_Class_15
0             .         GERAL         GERAL             .        AGENDA
1    CONFECÇÕES     ESPORTIVO         GERAL       INVERNO        ABRIGO
2    CONFECÇÕES         GERAL         GERAL       INVERNO        ABRIGO
3    CONFECÇÕES     ESPORTIVO         GERAL       INVERNO        ABRIGO
4    CONFECÇÕES         GERAL         GERAL       INVERNO        ABRIGO

In [7]:


# Carregamos as informações referente às movimentações/transações dos produtos (vendas/compras/devoluções/entre outros...), separadas em 9 ficheiros, juntando as mesmas num só data frame.
dataset_detMov_2018_1 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2018_Esportes_1.xls","Query")
dataset_detMov_2018_2 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2018_Esportes_2.xls","Query")
dataset_detMov_2019_1 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2019_Esportes_1.xls","Query")
dataset_detMov_2019_2 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2019_Esportes_2.xls","Query")
dataset_detMov_2020_1 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2020_Esportes_1.xls","Query")
dataset_detMov_2020_2 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2020_Esportes_2.xls","Query")
dataset_detMov_2021_1 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2021_Esportes_1.xls","Query")
dataset_detMov_2021_2 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2021_Esportes_2.xls","Query")
dataset_detMov_2022 = pd.read_excel("DATASET/DetalheMovimentacao/DetalheMovimentacao_2022_Esportes.xls","Query")
dataset_detMov_merged = pd.concat([dataset_detMov_2018_1,dataset_detMov_2018_2,dataset_detMov_2019_1,dataset_detMov_2019_2,dataset_detMov_2020_1,dataset_detMov_2020_2,dataset_detMov_2021_1,dataset_detMov_2021_2,dataset_detMov_2022])

# Verificamos o conjunto total de movimentações de produtos.
print(dataset_detMov_merged.head(5))

   Empresa  Emitente Série  Número  Item    Data do Movimento  Operação  \
0        6         0   NaN   17710    47  2018-01-03 00:00:00         1
1        6         0   NaN   17710    48  2018-01-03 00:00:00         1
2        6         0   NaN   17710    49  2018-01-03 00:00:00         1
3        6         0   NaN   17710    50  2018-01-03 00:00:00         1
4        6         0   NaN   17710    51  2018-01-03 00:00:00         1

   Origem ou Destino  Comprador ou Vendedor  Produto  ...  Situação  Pedido  \
0               5005                   15.0   265755  ...         1     NaN
1               5005                   15.0   340832  ...         1     NaN
2               5005                   15.0   237311  ...         1     NaN
3               5005                   15.0   237311  ...         1     NaN
4               5005                   15.0   237311  ...         1     NaN

   Encalhe  Icm do Frete  Preço para Conferência  Capítulo do IPI  \
0      NaN           NaN                     NaN              NaN
1      NaN           NaN                     NaN              NaN
2      NaN           NaN                     NaN              NaN
3      NaN           NaN                     NaN              NaN
4      NaN           NaN                     NaN              NaN

   Série da Devolução  Número da Devolução  Base ST  Valor ST
0                 NaN                  NaN      NaN       NaN
1                 NaN                  NaN      NaN       NaN
2                 NaN                  NaN      NaN       NaN
3                 NaN                  NaN      NaN       NaN
4                 NaN                  NaN      NaN       NaN

[5 rows x 34 columns]

In [8]:


# Verificamos as colunas das movimentações, mantendo as colunas necessárias para o projeto, 
# sendo estas todas as que representam características realmente utilizadas pela empresa e que poderão ser utilizadas tanto para o cálculo de receitas como para a associação de produtos
dataset_detMov_merged = dataset_detMov_merged[["Série", "Número", "Item", "Data do Movimento","Operação","Produto","Tamanho","Quantidade","Valor original"]]

# Verificamos que as colunas foram devidamente removidas
print(dataset_detMov_merged.columns)

Index(['Série', 'Número', 'Item', 'Data do Movimento', 'Operação', 'Produto',
       'Tamanho', 'Quantidade', 'Valor original'],
      dtype='object')

In [9]:


# Carregamos as informações referente aos tamanhos dos produtos
# Além disso, alteramos o nome das colunas, seguindo a mesma lógica previamente realizada para as classificações
ds_tam = pd.read_excel("DATASET/Tamanhos/Tamanhos.xls","Tamanhos")
ds_tam = ds_tam.rename(columns={"Código":"Código_Tamanho","Nome":"Nome_Tamanho"})

# Juntamos a informação mais detalhada do tamanho consoante o código presente em cada produto para a coluna que previamente apresentava apenas o identificador.
dataset_detMov_merged = pd.merge(dataset_detMov_merged,ds_tam, left_on='Tamanho', right_on='Código_Tamanho', how='left').drop(columns=["Código_Tamanho"])

# Verificamos que a junção foi realizada com sucesso
print(dataset_detMov_merged.head(5))

  Série  Número  Item    Data do Movimento  Operação  Produto  Tamanho  \
0   NaN   17710    47  2018-01-03 00:00:00         1   265755      130
1   NaN   17710    48  2018-01-03 00:00:00         1   340832      130
2   NaN   17710    49  2018-01-03 00:00:00         1   237311       95
3   NaN   17710    50  2018-01-03 00:00:00         1   237311      100
4   NaN   17710    51  2018-01-03 00:00:00         1   237311      105

   Quantidade  Valor original Nome_Tamanho
0         3.0        3.314815            U
1         3.0        3.888889            U
2         2.0        7.868519          095
3         2.0        7.868519          100
4         2.0        7.868519          105

In [43]:


# Alteramos o nome das colunas, seguindo a mesma lógica previamente realizada para as classificações e tamanhos
dataset_prod_merged = dataset_prod_merged.rename(columns={"Referência":"Referência_Produto", "Complemento":"Complemento_Produto","Código":"Código_Produto","Nome":"Nome_Produto", "Unidade":"Unidade_Produto", "Data da última atualização":"DataUltimaAtualização_Produto","Nome da marca": "NomeMarca_Produto","Classificação11": "Classificação11_Produto","Classificação12": "Classificação12_Produto","Classificação13": "Classificação13_Produto","Classificação14": "Classificação14_Produto","Classificação15": "Classificação15_Produto", "Nome_Class_11": "Nome_Class_11_Produto", "Nome_Class_12": "Nome_Class_12_Produto", "Nome_Class_13": "Nome_Class_13_Produto", "Nome_Class_14": "Nome_Class_14_Produto", "Nome_Class_15": "Nome_Class_15_Produto"})

# Juntamos a informação dos produtos com os dados das movimentações consoante o código do produto presente em cada movimentação, que previamente apresentava apenas o identificador.
dataset_detMov_merged = pd.merge(dataset_detMov_merged, dataset_prod_merged, left_on='Produto', right_on='Código_Produto', how='left').drop(columns=["Código_Produto"])

# Verificamos que a junção foi realizada com sucesso
print(dataset_detMov_merged.head(5))

In [11]:

# Removemos as colunas que não pretendemos utilizar e alteramos o nome da coluna que representa o preço para efeitos de compreensão.
dataset_detMov_merged = dataset_detMov_merged.drop(columns=["Classificação11_Produto", "Classificação12_Produto", "Classificação13_Produto", "Classificação14_Produto", "Classificação15_Produto"])
dataset_detMov_merged = dataset_detMov_merged.rename(columns={"Valor original":"Preço"})

# Verificamos que as alterações foram efetuadas com sucesso
print(dataset_detMov_merged.columns)

Index(['Série', 'Número', 'Item', 'Data do Movimento', 'Operação', 'Produto',
       'Tamanho', 'Quantidade', 'Preço', 'Nome_Tamanho', 'Nome_Produto',
       'Unidade_Produto', 'Referência_Produto',
       'DataUltimaAtualização_Produto', 'NomeMarca_Produto',
       'Complemento_Produto', 'Nome_Class_11_Produto', 'Nome_Class_12_Produto',
       'Nome_Class_13_Produto', 'Nome_Class_14_Produto',
       'Nome_Class_15_Produto'],
      dtype='object')

In [12]:

# Existem movimentações/tarnsações de diversos tipos. No entanto, apenas as transações do tipo venda e compra é que são relevantes para o este projeto, sendo estas representadas pelos seguintes valores:
# Venda = 03, 04, 05
# Compra = NE
print(dataset_detMov_merged['Série'].value_counts().sort_values(ascending=False).head(10))

03    87440
NE    82971
04    79683
05    31685
NS    14746
AJ     1832
SV       39
U        17
UE        1
Name: Série, dtype: int64

In [13]:


# Assim, mantemos apenas as movimentações/transações que pretendemos utilizar, agrupando os dados de cada tipo em apenas dois tipos, Compra e Venda.
dataset_detMov_merged['Série'].replace(['03','04', '05', 'NE'], ["VENDA", "VENDA", "VENDA", "COMPRA"], inplace=True)
dataset_detMov_merged = dataset_detMov_merged[(dataset_detMov_merged['Série'] == "VENDA") |  (dataset_detMov_merged['Série'] == "COMPRA")]

# Verificamos que já só existem movimentações do tipo Compra e Venda.
print(dataset_detMov_merged['Série'].value_counts().sort_values(ascending=False).head(10))

VENDA     198808
COMPRA     82971
Name: Série, dtype: int64

In [14]:


# Separamos as vendas das compras
dataset_compras = dataset_detMov_merged[(dataset_detMov_merged['Série'] == "COMPRA")].copy()
dataset_vendas = dataset_detMov_merged[(dataset_detMov_merged['Série'] == "VENDA")].copy()

# Verificamos que as vendas estão separadas
print(dataset_vendas['Série'].value_counts().sort_values(ascending=False).head(10))

VENDA    198808
Name: Série, dtype: int64

In [37]:


# Convertemos a data no tipo datetime para este ser utilizado posteriormente na divisão do total de vendas por períodos temporais.
dataset_vendas["Data"] = pd.to_datetime(dataset_vendas["Data do Movimento"])

# Adicionamos uma nova coluna com o ano e trimestre de cada venda consoante a respetiva data.
dataset_vendas["Ano/Trimestre"] = dataset_vendas["Data"].dt.to_period("Q")
dataset_vendas["Ano/Trimestre"] = dataset_vendas["Ano/Trimestre"].astype(str)

# Adicionamos uma nova coluna com o total de receitas de cada venda com base na quantidade e preço por unidade (Preço * Quantidade)
dataset_vendas = dataset_vendas.assign(Preco_Total=dataset_vendas["Preço"] * dataset_vendas["Quantidade"])

# Agrupamos as vendas por produto e dividimos o total de vendas e a média de vendas por dia por trimestre em colunas próprias.
dataset_vendas_by_product_by_trimester = dataset_vendas.groupby(["Produto", "Ano/Trimestre"])["Preco_Total", "Quantidade"].agg(["sum"]).reset_index()
dataset_vendas_by_product_by_trimester.columns = dataset_vendas_by_product_by_trimester.columns.droplevel(1)

# Alteramos o nome das colunas obtidas
dataset_vendas_by_product_by_trimester = dataset_vendas_by_product_by_trimester.rename(columns={"Preco_Total": "Total_Receitas", "Quantidade": "Total_Unidades_Vendidas"})

# Preenchemos o data frame obtido acima com linhas a 0 para cada produto para cada trimestre, caso não exista nenhum registo.
dataset_vendas_by_product_by_trimester = dataset_vendas_by_product_by_trimester.pivot(index="Produto", columns="Ano/Trimestre", values=["Total_Receitas", "Total_Unidades_Vendidas"]).fillna(0)

# Resetamos o index para incluir a coluna "Produto"
dataset_vendas_by_product_by_trimester = dataset_vendas_by_product_by_trimester.reset_index()

# Nivelamos o índice multinível das colunas
dataset_vendas_by_product_by_trimester.columns = ["_".join(col) for col in dataset_vendas_by_product_by_trimester.columns]

# Verificamos o resultado final
print(dataset_vendas_by_product_by_trimester.head())

   Produto_  Total_Receitas_2018Q1  Total_Receitas_2018Q2  \
0      1040               0.000000               0.000000
1      1061             176.666667             294.444444
2      1062               0.000000               0.000000
3      1063               0.000000               0.000000
4      2999             410.425926              99.833333

   Total_Receitas_2018Q3  Total_Receitas_2018Q4  Total_Receitas_2019Q1  \
0               0.000000               0.027778               0.009259
1              88.333333             265.000000             294.444444
2               0.000000              22.037037              44.074074
3               0.000000              47.962963               0.000000
4              88.740741             155.296296             166.388889

   Total_Receitas_2019Q2  Total_Receitas_2019Q3  Total_Receitas_2019Q4  \
0               0.000000               0.018519               0.000000
1             176.666667             257.962963             147.407407
2               0.000000               0.000000             110.185185
3               0.000000               0.000000               0.000000
4              77.648148             232.944444             133.111111

   Total_Receitas_2020Q1  ...  Total_Unidades_Vendidas_2020Q3  \
0               0.000000  ...                             0.0
1             147.407407  ...                             3.0
2             132.222222  ...                             1.0
3               0.000000  ...                             0.0
4             510.259259  ...                            45.0

   Total_Unidades_Vendidas_2020Q4  Total_Unidades_Vendidas_2021Q1  \
0                             0.0                             0.0
1                             1.0                             0.0
2                             2.0                             2.0
3                             0.0                             0.0
4                            45.0                            26.0

   Total_Unidades_Vendidas_2021Q2  Total_Unidades_Vendidas_2021Q3  \
0                             0.0                             0.0
1                             5.0                             0.0
2                             4.0                             0.0
3                             0.0                             0.0
4                            38.0                            21.0

   Total_Unidades_Vendidas_2021Q4  Total_Unidades_Vendidas_2022Q1  \
0                             0.0                             0.0
1                             1.0                             2.0
2                             0.0                             0.0
3                             0.0                             0.0
4                            34.0                            41.0

   Total_Unidades_Vendidas_2022Q2  Total_Unidades_Vendidas_2022Q3  \
0                             0.0                             0.0
1                             1.0                             0.0
2                             0.0                             0.0
3                             0.0                             0.0
4                            23.0                            29.0

   Total_Unidades_Vendidas_2022Q4
0                             0.0
1                             0.0
2                             0.0
3                             0.0
4                            15.0

[5 rows x 41 columns]

C:\Users\silve\AppData\Local\Temp\ipykernel_15268\186005611.py:12: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dataset_vendas_by_product_by_trimester = dataset_vendas.groupby(["Produto", "Ano/Trimestre"])["Preco_Total", "Quantidade"].agg(["sum"]).reset_index()

In [64]:


# Juntamos a informação dos produtos com os dados das respetivas vendas consoante o código do produto.
dataset_treated = pd.merge(dataset_vendas_by_product_by_trimester, dataset_prod_merged, left_on='Produto_', right_on='Código_Produto', how='left').drop(columns=["Código_Produto"]).fillna(0)

# Verificamos que a junção foi realizada com sucesso
print(dataset_treated.head())

   Produto_  Total_Receitas_2018Q1  Total_Receitas_2018Q2  \
0      1040               0.000000               0.000000
1      1061             176.666667             294.444444
2      1062               0.000000               0.000000
3      1063               0.000000               0.000000
4      2999             410.425926              99.833333

   Total_Receitas_2018Q3  Total_Receitas_2018Q4  Total_Receitas_2019Q1  \
0               0.000000               0.027778               0.009259
1              88.333333             265.000000             294.444444
2               0.000000              22.037037              44.074074
3               0.000000              47.962963               0.000000
4              88.740741             155.296296             166.388889

   Total_Receitas_2019Q2  Total_Receitas_2019Q3  Total_Receitas_2019Q4  \
0               0.000000               0.018519               0.000000
1             176.666667             257.962963             147.407407
2               0.000000               0.000000             110.185185
3               0.000000               0.000000               0.000000
4              77.648148             232.944444             133.111111

   Total_Receitas_2020Q1  ...  Classificação11_Produto  \
0               0.000000  ...                        2
1             147.407407  ...                        2
2             132.222222  ...                        2
3               0.000000  ...                        2
4             510.259259  ...                        2

   Classificação12_Produto  Classificação13_Produto  Classificação14_Produto  \
0                        3                        3                        3
1                        2                        3                        3
2                        2                        3                        3
3                        2                        3                        3
4                        2                        3                        3

   Classificação15_Produto  Nome_Class_11_Produto  Nome_Class_12_Produto  \
0                       12             ACESSÓRIOS                  GERAL
1                       17             ACESSÓRIOS              ESPORTIVO
2                       17             ACESSÓRIOS              ESPORTIVO
3                       17             ACESSÓRIOS              ESPORTIVO
4                      279             ACESSÓRIOS              ESPORTIVO

   Nome_Class_13_Produto  Nome_Class_14_Produto  Nome_Class_15_Produto
0                  GERAL                  ANUAL               ATACADOR
1                  GERAL                  ANUAL                  BARRA
2                  GERAL                  ANUAL                  BARRA
3                  GERAL                  ANUAL                  BARRA
4                  GERAL                  ANUAL             BOLA TÊNIS

[5 rows x 57 columns]

In [66]:

import unidecode

# Removemos os acentos existentes nos nomes das colunas para efeitos de rigor
dataset_treated.columns = [unidecode.unidecode(col) for col in dataset_treated.columns]
dataset_treated = dataset_treated.rename(columns={"Produto_": "Produto"})

# Verificamos o resultado final do dataset já totalmente tratado
print(dataset_treated.columns)

Index(['Produto', 'Total_Receitas_2018Q1', 'Total_Receitas_2018Q2',
       'Total_Receitas_2018Q3', 'Total_Receitas_2018Q4',
       'Total_Receitas_2019Q1', 'Total_Receitas_2019Q2',
       'Total_Receitas_2019Q3', 'Total_Receitas_2019Q4',
       'Total_Receitas_2020Q1', 'Total_Receitas_2020Q2',
       'Total_Receitas_2020Q3', 'Total_Receitas_2020Q4',
       'Total_Receitas_2021Q1', 'Total_Receitas_2021Q2',
       'Total_Receitas_2021Q3', 'Total_Receitas_2021Q4',
       'Total_Receitas_2022Q1', 'Total_Receitas_2022Q2',
       'Total_Receitas_2022Q3', 'Total_Receitas_2022Q4',
       'Total_Unidades_Vendidas_2018Q1', 'Total_Unidades_Vendidas_2018Q2',
       'Total_Unidades_Vendidas_2018Q3', 'Total_Unidades_Vendidas_2018Q4',
       'Total_Unidades_Vendidas_2019Q1', 'Total_Unidades_Vendidas_2019Q2',
       'Total_Unidades_Vendidas_2019Q3', 'Total_Unidades_Vendidas_2019Q4',
       'Total_Unidades_Vendidas_2020Q1', 'Total_Unidades_Vendidas_2020Q2',
       'Total_Unidades_Vendidas_2020Q3', 'Total_Unidades_Vendidas_2020Q4',
       'Total_Unidades_Vendidas_2021Q1', 'Total_Unidades_Vendidas_2021Q2',
       'Total_Unidades_Vendidas_2021Q3', 'Total_Unidades_Vendidas_2021Q4',
       'Total_Unidades_Vendidas_2022Q1', 'Total_Unidades_Vendidas_2022Q2',
       'Total_Unidades_Vendidas_2022Q3', 'Total_Unidades_Vendidas_2022Q4',
       'Nome_Produto', 'Unidade_Produto', 'Referencia_Produto',
       'DataUltimaAtualizacao_Produto', 'NomeMarca_Produto',
       'Complemento_Produto', 'Classificacao11_Produto',
       'Classificacao12_Produto', 'Classificacao13_Produto',
       'Classificacao14_Produto', 'Classificacao15_Produto',
       'Nome_Class_11_Produto', 'Nome_Class_12_Produto',
       'Nome_Class_13_Produto', 'Nome_Class_14_Produto',
       'Nome_Class_15_Produto'],
      dtype='object')

In [67]:


# Exportamos o Dataset já totalmente tratado
dataset_treated.to_csv('Dataset_Treated.csv')